//base
@import "base/vars";
@import "base/utilities";

//components
@import "components/navbar";
@import "components/footer";


//layouts
@import "layouts/index";
@import "layouts/products";
@import "layouts/ofertas";
@import "layouts/preguntas";
@import "layouts/contact";




/*bgIndexImage*/
.hero-start{
    background-image: url(../images/5405317.jpg);
    background-attachment: fixed;
    background-size: cover;
}

/**/

/*Products page*/

.hero-p{
    background-image: url(../images/6044158.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/**/

/*Ofertas*/
.ofertas-body{
    background-image: url(../images/5925788.jpg);
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;
}

/**/

/*Contact*/
.contact-body{
    background-image: url(../images/rm251-mind-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/**/

/*Questions Page*/
.q-body{
    background-image: url(../images/3513217.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.p-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:underline;
    text-underline-offset: 0.5em;
}




/*animation*/
@keyframes revealText {
    from{
        letter-spacing: 1em;
    }

    to{
        color: rgb(255, 255, 255);
        letter-spacing: normal;
    }
}

.carousel-item {
    transition: transform 0.5s ease;
}

/*media quaris*/
@media (max-width: 427px) {
    .nav-list {
    display: none;
    }
    
    .hero-social ul {
    display: flex;
    justify-content: center;
    }
    
    .menu_hamburguesa:checked ~ .menu-desplegable {
    display: block;
    }
    .contact h2 {
    text-align: center;
    }
    .des-content {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    }

    .nav .nav-list{
    display: none;
    }
    
    .container img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


}
@media (min-width: 428px) {
    .label_hamburguesa {
    display: none;
    }
}

