.contact-body{
    background-image: url(../images/rm251-mind-01.jpg);
    @extend .background;
}
.contact{
    @include flex(center, column);

    input{
    font-size: 100%;
    padding: 0.7em;
    background: $darkblue;  
    border-radius: 10px;
    border: 2px solid #e8e8e8;
    color: white;
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
    }

    ::placeholder{
        color: white;
        letter-spacing: 2px;
    }

    textarea{
        font-size: 100%;
        padding: 0.7em;
        color: #e8e8e8;
        margin-top: 10px;
        border: 2px solid #e8e8e8;
        background: $darkblue; 
        border-radius: 10px;
        width: 100%;
    }

    h1{
        color: white;
        text-align:center;
        font-size: 1.5rem;
        background-color: $darkblue; 
        padding: 50px;
        width: 100%;
    }

    h2{
        font-size: 16px;
        color: white;
    }

    button{
        width: 100px;
        border-radius: 10px;
        background-color: $buttoncolor;
        color: white;
        border: none;
        padding: 10px;
    }
    
}